/* Container */
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  color: var(--primary-color);
}

/* Header */

.header {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  background-color: var(--secondary-bg-color);
}

.logo {
  display: flex;
  gap: 15px;
  height: 100%;
  align-items: center;
}

.header_logo {
  height: 100%;
}

.logo_icon {
  max-width: 100%;
  max-height: 100%;
}

.logo_text {
  font-size: 25px;
  color: var(--secondary-color);
}

/* Main container */

.body {
  background-color: #eeeeee;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-gap: 50px;
  padding: 30px;
}

/* Contant container */

.contant-container {
  background-image: radial-gradient(#1e88e5, #1565c0);
  border-radius: 14px;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
}

.content-header {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
}

/* Sidebar */

.sidebar {
  background-image: radial-gradient(#1e88e5, #1565c0);
  border-radius: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.menu_list {
  width: 100%;
  height: 100%;
}

.menu_list_item {
  width: 100%;
  color: var(--primary-color);
  font-size: 23px;
  padding: 10px 13px;
  transition: 0.2s linear;
  list-style-type: none;
}

.menu_list_item:hover {
  cursor: pointer;
  background-color: var(--primary-bg-color-hover);
}

.menu_item_link {
  text-decoration: none;
  color: var(--primary-color);
}

/* Footer */

.footer {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: end;
  padding-right: 40px;
}
