:root {
    --primary-color: #fafafa;
    --secondary-color: #43a047;
    --primary-bg-color: #43a047;
    --primary-bg-color-hover: #388e3c;
    --secondary-bg-color: #ffffff;
    --secondary-bg-color-darken: #e0e0e0;
}